body {
  background-color: #278ea5;
  padding: 0;
  margin: 0;
}

html {
  background-color: #278ea5;
}

h1 {
  color: orange;
  font-family: 'press start 2p';
  text-align: center;
  background-color: #071e3d;
  }

h2 {
  text-align: center;
  color: orange;
  font-family: 'press start 2p';
  background-color: #1f4287;
  font-size: 3rem;
  padding: 5%;
}

h3 {
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: bold;
  padding: 3% 3%;
}

h4 {
  color: #21e6c1;
  font-size: 2rem;
  font-weight: normal;
  padding-top: 3%;
}

h5 {
  color: white;
}

p {
  color: white;
  font-size: 1.5rem;
}

a {
  color: #278ea5;
  font-family:verdana;
  margin: 10px 20px;
}

img {
  margin-top: 0px;
  margin: auto;
  background-color: #071e3d;
}

.container-fluid {
  padding: 1% 1%;
}

.welcome-container {
  background-color: #1f4287;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toolbar-container {
  color: white;
  text-align: center;
  list-style-position: inside;
  background-color: #1f4287;
  font-size: 1.5rem;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1% 3% 3% 3%;
}

.join-btn {
  background-color: #FF7145;
  font-size: 24px;
  border-radius: 12px;
}

.news-btn {
  background-color: #FF7145;
  font-size: 24px;
  border-radius: 12px;
}

.cta-container {
  background-color: #1f4287;
  padding: 3%;
  margin: 2%;
}

.app-button {
  padding-bottom: 3%;
}

.app-btn {
  font-size: 48px;
  border-radius: 12px;
  background-color: #FF7145;
}

.footer-container {
  text-align: center;
  background-color: #21e6c1;
  font-size: 1.5rem;
  }

.jetzchase-img {
  width: 75%;
}

.doing-img {
  width: 90%;
}

.video-container {
  background-color: #1F4287;
  display: flex;
  align-items: center;
  justify-content: center;
}

.triphoto-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#278ea5;
  padding-bottom: 5%;
}

.triphoto2-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5%;
}

.triphoto3-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5%;
}

#features {
  padding: 0 5%;

}

.great-box {
  text-align: center;
  font-weight: bold;
  background-color: #1F4287;
}

.engage-box {
  text-align: center;
  font-weight: bold;
}

.ground-box {
  text-align: center;
  font-weight: bold;
}

/* Defines background of font awesome icon element on website */
.icon {
  color: #21e6c1;
  padding: 5% 5% 5% 5%;
  background-color: #1F4287;
}

.icon:hover {
  color: #278ea5;
}

.weshouldcodelogo-img {
  width: 45%;
  background-color: #1f4287;
}

.wscnavbarbox-img {
  background: transparent;
}

/* Height and width of margins of items in navbar */
.navbar {
  padding: 0.1px 0.1px;
}

/* Spacing between navbar text items */
.nav-item {
  padding: 0 0.5px;
}

.nav-link {
  font-size: 0.8rem;
  font-family: 'press start 2p';

}

.join-button {
  margin: 2% 3% 2% 0;
}

.iconlogo-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width:35%;
  background: transparent;
  padding: 5% 5%;
}

#testimonials {
    text-align: center;
    font-weight: bold;
    background-color:  #1F4287;
    font-family: 'press start 2p';
}

.carousel-item {
  padding: 1% 3%;
}

#pricing {
  padding: 5px;
  text-align: center;
}

.card-header {
  background: #21e6c1;
  font-size: 1.5rem;
  font-weight: bold;
  color: #1F4287;
  font-family: 'press start 2p';
}

.card-body {
  background: #1F4287;
}

.card-title {
  color: orange;
  font-weight: bold;
}

.pricing-column {
  padding: 3% 3% 3%;
}
