body {
  background-color: #278ea5;
  padding: 0;
  margin: 0;
}

html {
  background-color: #278ea5;
}

h1 {
  color: orange;
  font-family: 'press start 2p';
  text-align: center;
  background-color: #071e3d;
  }

h2 {
  text-align: center;
  color: orange;
  font-family: 'press start 2p';
  background-color: #071e3d;
}

a {
  color: #278ea5;
  font-family:verdana;
  margin: 10px 20px;
  text-decoration: none;
}

img {
  margin-top: 0px;
  margin: auto;
  background-color: #071e3d;
}

.container-fluid {
  padding: 1% 1%;
}

.welcome-container {
  background-color: #1f4287;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toolbar-container {
  color: white;
  text-align: center;
  list-style-position: inside;
  background-color: #1f4287;
  font-size: 1.5rem;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-container {
  text-align: center;
  background-color: #21e6c1;
}

.jetzchase-img {
  width: 70%;
}

.video-container {
  background-color: #1F4287;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weshouldcodelogo-img {
  width: 30%;
  background-color: #1f4287;
}
